<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engis.esd.hrms.users.MemberMapper">

    <resultMap type="com.engis.esd.hrms.users.dto.MemberDTO" id="userResultMap">
        <id column="NO" property="no"/>
        <result column="ID" property="id"/>
        <result column="PWD" property="pwd"/>
        <result column="NAME" property="name"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="GRANT" property="grant"/>
    </resultMap>



    <select id="getUser" resultMap="userResultMap">
        SELECT * FROM "tb_member"
        WHERE "id" = #{id}
        AND "pwd" = #{pwd}
    </select>

</mapper>