<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engis.esd.hrms.SchedulerMapper">

    <resultMap type="com.engis.esd.hrms.cmt.dto.CmtDTO" id="cmtResultMap">
        <id column="CMT_NO" property="cmtNo"/>
        <id column="NO" property="no"/>
        <result column="ATT_TIME" property="attTime"/>
        <result column="LV_WRK_TIME" property="lvWrkTime"/>
    </resultMap>

    <update id="autoWorkEnd">
        UPDATE "CMT"
        SET "LV_WRK_TIME"= TO_CHAR(NOW(),'YYYY/MM/DD HH24:MI:SS')
        WHERE "LV_WRK_TIME" IS NULL
    </update>

</mapper>